[Unit]
Description = Tracks member coffee consumption.
Before=network-online.target
After=network.target

[Service]
User=root
Type=simple
Environment=DISPLAY=:0
WorkingDirectory={PATH}
ExecStart=/bin/sh {PATH}/start.sh
Restart=Always
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
