<!DOCTYPE html>
<html>

<link rel="stylesheet" href="res/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
<title>Coffee Tracker Bot - Admin</title>
</head>

<body>

<div class="menu active">
<button onclick=show("backups")>Manage Backups</button>
<button onclick=logout()>Logout</button>
</div>

<div class="menu-btn active"><span></span></div>

<div id="backups" class="container">
<h1>Backups</h1>
<h2 id="backup_count"></h2>
<br>
<div style="" id="backup_list"></div>
</div>

<div id="archived" class="container">
<h1>archived</h1>
</div>

<ul class="bg-bubbles">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/res/lib.js"></script>

<script>

function logout() {
  POST("/api/admin/logout", "", () => {
    document.location.href = "/"
  })
}

const toggle_button = document.querySelector(".menu-btn")
const menu = document.querySelector(".menu")

shown = ""

toggle_button.addEventListener("click", () => {
  toggle_button.classList.toggle('active')
  menu.classList.toggle('active')
});

function show(section) {
  if (shown != "") document.getElementById(shown).style.display = "none"
  shown = section
  document.getElementById(shown).style.display = "block"
  localStorage.selected = shown
}

if (!localStorage.selected) localStorage.selected = "backups"
show(localStorage.selected)

function restore_backup(button) {
  console.log(button)
  Swal.fire({
    title: "Are you sure you want to restore from this backup?",
    text: button.target.innerText,
    showCancelButton: true,
    cancelButtonText: "Cancel",
    confirmButtonText: "Confirm"
  }).then((r) => {
    if (r.dismiss != "cancel") {  
      POST("/api/admin/restore_backup", `name=${button.target.innerText}`, (data) => {
        if (data.success) {
          Swal.fire({
            icon: "success",
            title: "Restored!"
          })
        } else {
          error(data.error)
        }
      })
    }
  })
}


var backups
GET("/api/admin/backups", (data) => {
  if (data.success) {
    backups = data.backups.reverse()
    document.querySelector("#backup_count").innerText = `${backups.length} backups have been made!`    
    backup_list = document.querySelector("#backup_list")
    for (var backup of backups) {
      var div = document.createElement("div")
      div.id = "backup_item"
      var button = document.createElement("button")
      button.innerText = backup
      button.onclick = restore_backup
      div.appendChild(button)
      backup_list.appendChild(div)
    }
  } else {
    error(data.error)
  }
})

/* features:
view archived users
change configuration
manage backups
*/

</script>

</html>
