<!DOCTYPE html>
<html>
<head>
<title>Coffee Tracker Bot - API documentation</title>
</head>

<body>

<b>GET /api/users</b>
<p>Returns a list of current users, their real name, and some useful statistics about each user. Example:</p>
<code>Request: GET /api/users<br>
Response: {success: true, users: [{username: "bOb_123", real_name: "Bob", total_cups_consumed: 372, cups_consumed_today: 2, days_since_first_coffee: 438, average_daily_cups: 0.8493150684931506}]}</code>

<br>
<br>
<br>

<b>GET /api/data</b>
<p>Returns a list of current users, their real name, and every time they've ever gotten coffee. Example:</p>
<code>Request: GET /api/data<br>
Response: {success: true, users: [{username: "bOb_123", real_name: "Bob", data: ["1547660405000"]}]}</code>

<br>
<br>
<br>

<b>GET /api/stats</b>
<p>Returns some useful statistics. Example:</p>
<code>Request: GET /api/data<br>
Response: {success: true, stats: {total_coffees: 193, daily_average: 4.2, coffees_consumed_today: 3, last_consumed: 827294}</code>

<br>
<br>
<br>

<b>GET /api/get_user</b>
<p>Query format: <code>username=[username]&real_name=[real_name]</code></p>
<p>Return the username, real_name, list of times the user has gotten coffee, and some useful statistics. Can get user by using their real name or username. Example:</p>
<code>Request: GET /api/get_user<br>
Query: username=bOb_123<br>
Response: {success: true, user: {username: "bOb_123", real_name: "Bob", data: ["1547660405000"], total_cups_consumed: 1, cups_consumed_today: 0, days_since_first_coffee: 5, average_daily_cups: 0.2, position: 4}}</code>

<br>
<br>
<br>

<b>POST /api/new_user</b>
<p>Body format: <code>username=&lt;username&gt;&real_name=&lt;real_name&gt;</code></p>
<p>Creates a new user. Example:</p>
<code>Request: POST /api/new_user<br>
Body: username=alice97&real_name=Alice<br>
Response: {success: true}</code>

<br>
<br>
<br>

<b>POST /api/drink_coffee</b>
<p>Body format: <code>username=[username]&real_name=[real_name]</code></p>
<p>Adds to the list of times a user has drunk coffee and returns how many coffees they have drunk that day (not including the new one) and a formatted message. Example:</p>
<code>Request: POST /api/drink_coffee<br>
Body: username=bOb_123<br>
Response: {success: true, data: {coffees_drunk_today: 2, message: "You have drunk two coffees today!"}}</code>

<br>
<br>
<br>

<b>POST /api/delete_user</b>
<p>Body format: <code>username=&lt;username&gt;</code></p>
<p>Deletes an existing user and all of their data, this is irreversible. Example:</p>
<code>Request: POST /api_delete_user<br>
Body: username=bOb_123<br>
Response: {success: true}</code>

<br>
<br>
<br>

<b>POST /api/update_user</b>
<p>Body format: <code>username=&lt;username&gt;&new_username=[new_username]&new_real_name=[new_real_name]</code></p>
<p>Updates a users username or real name. Example:</p>
<code>Request: POST /api/update_user<br>
Body: username=bOb_123&new_username=just_bob<br>
Response: {success: true}</code>

</body>

</html>
